@model RateListing.Ui.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Areas/Company/Views/Shared/_UserLayout.cshtml";

    var isSuccess = false;
    if (ViewBag.isSuccess != null && (bool)ViewBag.isSuccess)
    {
        isSuccess = true;
    }
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Şifre Değiştir</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-lock"></i> Şifre Değiştir
        </div>
        <div class="card-body">

            <div class="table-responsive">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    if (isSuccess)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="text-success text-center">Şifreniz başarıyla değiştirildi.</h6>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-md-12 control-label">Mevcut Şifre</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" ,required="true"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Yeni Şifre</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = "true" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Yeni Şifre Tekrar</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "true" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Değiştir" class="btn_1 medium" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



