@model RateListing.Model.Blog
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>


<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>@Model.Name</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->

<main>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-12">
                <div class="singlepost">
                    <figure><img alt="" class="img-fluid" src="~/Uploads/Blog/@Model.Id/@Model.Picture" style="width:100%"></figure>
                    <h1>@Model.Name</h1>
                    <div class="postmeta">
                        <ul>
                            @*<li><a href="#"><i class="ti-folder"></i> Category</a></li>*@
                            <li><a href="#"><i class="ti-calendar"></i> @Model.CreateDate.Value</a></li>
                            @*<li><a href="#"><i class="ti-user"></i> Admin</a></li>*@
                            @*<li><a href="#"><i class="ti-comment"></i> (14) Comments</a></li>*@
                        </ul>
                    </div>
                    <!-- /post meta -->
                    <div class="post-content">
                        <div class="dropcaps">
                            <p>@Html.Raw(Model.Description)</p>
                        </div>

                        @*<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>*@
                    </div>
                    <!-- /post -->
                </div>
                <!-- /single-post -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->
