@model RateListing.Model.Category

@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Areas/Admin/AdminLTE-master/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/AdminLTE-master/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategori</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kategori Ekle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Kategori Ekle Formu</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("Add", "Category", FormMethod.Post, new { enctype = "multipart/form-data", id = "kategoriForm" }))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Adı</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <label class="control-label col-md-2">Resim</label>
                                    <div class="col-md-10">
                                        <input type="file" name="foto" id="Picture" required/>
                                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-primary">Ekle</button>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/Areas/Admin/AdminLTE-master/plugins/jquery/jquery.min.js"></script>
<script>
    $('#kategoriForm').on('submit', function (e) {
        e.preventDefault();
        var form = $('#kategoriForm')[0];
        var data = new FormData(form);

        $.ajax({
            url: '/Admin/Category/Add',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (result) {
                if (result.isSuccess) {
                    Swal.fire(
                        'Kategori Ekleme',
                        result.message,
                        'success'
                    )
                    setTimeout(function () {
                        window.location.href = "/Admin/Category/List";
                    }, 2000);
                }
                else {
                    Swal.fire(
                        'Kategori Ekleme',
                        result.message,
                        'danger'
                    )
                }
            }
        })
    });              
</script>

