@model RateListing.Ui.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>


<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Şifre Sıfırlama Formu</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->

<main>
    <div class="container margin_60">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="box_account">
                    <h3 class="client">Şifreni Sıfırla</h3>
                    <div class="form_container">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger text-center" })

                            <div id="">
                                <div class="form-group">
                                    @*<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Email Adresiniz">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Email Adresiniz" })
                                </div>
                                <p class="text-center">Şifre sıfırlama bağlantısı email adresinize gönderilecektir.</p>
                                <div class="text-center"><input type="submit" value="Gönder" class="btn_1"></div>
                            </div>
                        }
                    </div>
                    <!-- /form_container -->
                </div>
                <!-- /row -->
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->


@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

